# Entorno virtual
venv/

# Archivos de base de datos
*.sqlite3

# Archivos compilados de Python
*.pyc
__pycache__/

# Configuración del entorno local
.env

# Archivos y carpetas de Django
db.sqlite3
staticfiles/
media/

# Archivos de logs
*.log

# Archivos de migraciones (opcional)
*/migrations/*.py
!*/migrations/__init__.py

static/css
