{% csrf_token %}
{% for field in form %}
<div class="mb-3">
    <label for="" class="form-label">{{field.label}}</label>
    {%if field.name == 'participant' %}
    <select class="form-select form-select-lg" name="{{field.name}}" id="">
        <option selected>Seleciona una opcion </option>
        {% for participant in form.participant.field.queryset %}
        <option value="{{participant.id}}">{{participant.first_name}} {{participant.last_name}}</option>
        {% endfor %}
    </select>
    {% else %}
    <input 
    type="{{field.field.widget.input_type }}" 
    class="form-control" name="{{field.name }}" 
    id="{{ field.id_for_label }}"
    aria-describedby="{{ field.name }}Help" 
    placeholder="{{ field.field.widget.attrs.placeholder }}"
    value="{{ field.value|default_if_none:'' }}"/>
    <small id="{{ field.name }}Help" class="form-text text-muted">{{ field.errors }}</small>
    {% endif %}
</div>
{% endfor %}